<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/9426224/index.json">
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="9426224"/>
            <add key="ClearTextPassword" value="969dab6732aaea3f1d433961c70a57e1fb59c5b0"/>
        </github> 
    </packageSourceCredentials> 
</configuration>