<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LenaCV" version="1.2.4.44" targetFramework="native" />
  <package id="LenaCV.redist" version="1.2.4.44" targetFramework="native" />
  <package id="OpenCv" version="3.1.0" targetFramework="native" />
  <package id="OpenCv.redist" version="3.1.0" targetFramework="native" />
</packages>